.about-product-container {
  padding: 51px;
  color: #445162;
}

.product-about {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.text-about {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.right-about-text {
  background-color: #445162;
  height: 100%;
}