.block-buy {
  padding: 51px 150px;
  color: #445162;
}
.block-buy__product {
  margin-top: auto;
  position:relative ;
  bottom: 0px;
  background: #445162;
  border: 2px solid #445162;
  border-radius: 5px;
}

.block-buy__product h3 {
  color: white;
}
.block-buy__product_price {
  color: #445162;
  font-size: 45px;
  padding: 10px 0;
}

.block-buy__product_btn {
  margin: 0 7% 20px;
  padding: 5px 0;
  border-radius: 5px;
  border: none;
  color: #445162;
  font-size: 24px;
  font-weight: bold;
  width: 86%;
}
