.contact-container {
  padding: 51px 200px;
  background: #445162;
  color: white;
}

.product-about {
  color: white;
}

.input-product {
  width: 100%;
  background: white;
  border-radius: 5px;
  border: none;
  padding: 7px;
  outline: none;
}

.textarea-inp {
  resize: none;
  height: 150px;
}

.btn-block-product {
  border-radius: 5px;
  border: none;
  color: #445162;
  font-size: 24px;
  font-weight: 500;
  padding: 5px 30px;
}

.logo-contact i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  padding: 8px 0;
  text-align: center;
  border-radius: 20px;
  background: white;
  color: #445162;
  margin-right: 5px;
}