.section-pluses {
  padding: 51px;
  background: #f5f5f5;
  color: #445162;
}

.section-pluses i {
  font-size: 40px;
}

.text-center {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

