.header-product-container {
  background: #445162;
  padding: 51px;
}


.product-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.product-title-li {
  list-style: none;
  font-size: 20px;
  padding: 24px 10px;
  color: #ffffff;
}

.right-product-cont {
  height: 100%;
  background-color: #ffffff;
}
