.reviews-wrap-block {
  padding: 51px;
  color: #445162;
  background: rgb(245,245,245);
}

.reviews-wrap-block h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.img-reviews-block {
  background: #445162;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.reviews_message {
  background: rgb(235,235,235);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  color: #445162;
}

.reviews_message::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: -30px; top: 25px; /* Положение треугольника */
  border: 15px solid transparent;
  border-right: 15px solid rgb(235,235,235);
}
