.screenshots-block {
  padding: 51px;
  color: #445162;
}

.screenshots-block h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.scr-img-block {
  background: #445162;
  height: 100%;
}